.status {
    font-size: 14px;
    display: inline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 45px;
}

pre.output {
    margin-top: 35px;
    font-size: 14px;
}

.inline {
    display: inline;
}

.inlinePre {
    display: inline;
    white-space: pre-wrap;
    margin-left: 12px;
}